body {
    color:olivedrab;
    background-color: paleturquoise;
    font-family: "Oswald", sans-serif;
}
h1 {color:mistyrose; background-color: plum}
h2 {
    color: plum;
    font-family: "Oswald", sans-serif;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightblue;
    }

nav a {color: white}
nav {color: white}

nav a:hover {background-color: gray;}
a {color:plum;}
