body {
    color:olivedrab;
    background-color: paleturquoise;
    font-family: "Oswald", sans-serif;
}
h1 {color:mistyrose; background-color: plum}
h2 {
    color: plum;
    font-family: "Oswald", sans-serif;
}
a {color:plum;}
